---
layout: default
---

{% assign org_url = page.url | replace: '.html','.org' %}
{% assign org_filename = org_url | split: '/' | last %}

<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">
      {% if page.author %}{{ page.author }}{% endif %}
      <span class="download">
        Download the Org-Mode source for this page: <a class="post-link" href="{{ org_url }}">{{ org_filename }}</a></span>
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
